.app.dark {
  --bg-color: #1c1c97;
  --inverted-bg-color: #d8d8e8;

  --primary-color: #7888c5;
  --secondary-color: #08c308;

  --inverted-primary-color: #042196;
  --inverted-secondary-color: #465fb9;

}